@model PiranhaTest.Models.Regions.MyRegion

<div class="container">
   <div class="row justify-content-center">
      <div class="col-sm-8 col-xs-12 text-center">
         @Html.Raw(Model.MyBody)
         @Html.Raw(Model.MyBoolValue)
         @Html.Raw(Model.MyHtmlValue)
         @Html.Raw(Model.MyName)
         @Html.Raw(Model.MyTitle)
      </div>
   </div>
</div>